@page "/teachers/edit/{Id:int}"
@inherits EditPageBase<TeacherDTO>
@if(Model is null)
{
    <p><em>Loading...</em></p>
    return;
}
<TeacherEditForm Model="@Model" OnSubmited="Save" />

@code{
    protected override string PageAfterSave => $"teachers/{Model.DepartmentId}";
}