@page "/subjects/create"
@inherits CreatePageBase<ECampus.Shared.DataTransferObjects.SubjectDto>
<SubjectEditForm Model="new SubjectDto()" OnSubmit="Save" />
<a role="button" class="btn-link" href="/subjects">Back</a>
