@page "/markSubmission/{Id:int}"

@if (_model is null)
{
    <p>
        <em>Loading...</em>
    </p>
    return;
}

<h3>Mark @_model.Student!.LastName @_model.Student.FirstName`s submission for task @_model.CourseTask!.Name</h3>

<label>Submission content: @_model.SubmissionContent</label>

<EditForm Model="_model" OnValidSubmit="Save">
    <FluentValidationValidator Validator="Validator"/>
    <div class="col-md-4">
        <ValidationMessage For="() => _model.TotalPoints"/>
        <label class="form-label">Mark</label>
        <InputNumber class="form-control" @bind-Value="_model.TotalPoints"/>
        <label class="form-label">/@_model.CourseTask.MaxPoints</label>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</EditForm>