@page "/departments/create/{FacultyId:int}"
@inherits CreatePageBase<ECampus.Shared.DataTransferObjects.DepartmentDto>
<DepartmentEditForm Model="new(){ FacultyId = FacultyId }" OnSubmit="@(async model => await Save(model))" />

<a role="button" class="btn-danger" href="@($"/departments/{FacultyId}")">Back</a>