@page "/faculties"
@using ECampus.Domain.Requests.Faculty
@using ECampus.Domain.Responses.Faculty
<h1>Faculties</h1>

<IndexPageModel TData="MultipleFacultyResponse" TParameters="FacultyParameters"
           ParameterOptions="@(p => p.OrderBy = "Name")"
           CreateLink="/faculties/Create"
           EditLink="/faculties/edit"
           ActionLinks="@(new List<(string LinkName, Func<MultipleFacultyResponse, string> LinkSource)> { ("View departments", f => $"/Departments/{f.Id}") })"/>