@using IdentityServer4.Extensions
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UniversityTimetable.FrontEnd</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/faculties" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Search by faculties
            </NavLink>
            <NavLink class="nav-link" href="/auditories" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Search by auditories
            </NavLink>
            <NavLink class="nav-link" href="/subjects" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Edit subjects
            </NavLink>
            @if (Context.HttpContext?.User.IsAuthenticated() ?? false)
            {
                <NavLink class="nav-link" href="/profile" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> My profile
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {

    [Inject]
    private IHttpContextAccessor Context { get; set; }

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}