@page "/tasks/edit/{Id:int}"
@inherits EditPageBase<CourseTaskDto>

@if (Model is null)
{
    <p><em>Loading...</em></p>
    return;
}

<CourseTaskEditForm Model="Model" OnSubmit="Save"/>

@code {
    protected override string PageAfterSave => $"/tasks/{Model?.CourseId}";
}
