@page "/courses"

<h3>Courses</h3>

<IndexPageModel TData="CourseDto" TParameters="CourseParameters"
                CreateLink="/courses/create"
                EditLink="/courses/edit"
                ParameterOptions="parameters => parameters.OrderBy = nameof(CourseDto.Name)"
                ActionLinks="@(new List<(string LinkName, Func<CourseDto, string> LinkSource)> 
                             { ("View tasks", course => $"/tasks/{course.Id}") })"/>