@page "/courses"
@using ECampus.Domain.Requests.Course
@using ECampus.Domain.Responses.Course

<h3>Courses</h3>

<IndexPageModel TData="MultipleCourseResponse" TParameters="CourseParameters"
                CreateLink="/courses/create"
                EditLink="/courses/edit"
                ParameterOptions="parameters => parameters.OrderBy = nameof(MultipleCourseResponse.Name)"
                ActionLinks="@(new List<(string LinkName, Func<MultipleCourseResponse, string> LinkSource)> 
                             { ("View tasks", course => $"/tasks/{course.Id}") })"/>