@page "/faculties/Create"
@inherits CreatePageBase<FacultyDto>
<h3>Create</h3>
<FacultyEditForm Model="new()" OnSubmited="@(async model => await Save(model))" />
<a role="button" class="btn-link" href="/faculties">Back</a>