@page "/faculties"
<h1>Faculties</h1>

<DataTable TData="FacultyDto" TParameters="FacultyParameters"
           ParameterOptions="@(p => p.OrderBy = "Name")"
           CreateLink="/faculties/Create"
           EditLink="/faculties/edit"
           ActionLinks="@(new List<(string LinkName, Func<FacultyDto, string> LinkSource)> { ("View departments", f => $"/Departments/{f.Id}") })"/>