@inherits EditForm<GroupDTO>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="@Model.Name">Name</label>
                <InputText @bind-Value="Model.Name" />
            </div>
            <br />
            <div class="form-group">
                <div role="button" class="btn btn-primary" onclick="@(async () => await Submit())">Save</div>
            </div>
        </form>
    </div>
</div>
