@inherits ModelEditForm<GroupDto>
<EditForm Model="Model" OnValidSubmit="Submit">
    <FluentValidationValidator Validator="Validator" />
    <ValidationSummary />
    <p>
        <label>Name</label>
        <InputText @bind-Value="Model.Name" />
        <ValidationMessage For="@(() => Model.Name)" />
    </p>
    <button type="submit" class="btn btn-success">Save</button>
</EditForm>