@inherits ModelEditForm<CourseDto>

<EditForm Model="Model" OnSubmit="Submit">
    <FluentValidationValidator Validator="Validator"/>
    <button class="btn btn-success" type="submit">Save</button>
    <div class="col-md-3">
        <label class="form-label">Name</label>
        <ValidationMessage For="() => Model.Name"/>
        <InputText @bind-Value="Model.Name"/>
    </div>
    <div class="col-md-3">
        <ValidationMessage For="@(() => Model.Teachers)"/>
        <MultipleItemsSelect TData="TeacherDto" TParameters="TeacherParameters" SelectTo="Model.Teachers"/>
    </div>
    <div class="col-md-3">
        <ValidationMessage For="@(() => Model.Groups)"/>
        <MultipleItemsSelect TData="GroupDto" TParameters="GroupParameters" SelectTo="Model.Groups"/>
    </div>
    <div>
        <ValidationMessage For="@(() => Model.SubjectId)"/>
        <SingleItemSelect TData="SubjectDto" TParameters="SubjectParameters" @bind-SelectedId="Model.SubjectId"/>
    </div>
</EditForm>