@using ECampus.Domain.Requests.Teacher
@using ECampus.Domain.Requests.Group
@using ECampus.Domain.Requests.Subject
@using ECampus.Domain.Responses.Group
@using ECampus.Domain.Responses.Subject
@using ECampus.Domain.Responses.Teacher
@inherits ModelEditForm<CourseDto>

<EditForm Model="Model" OnSubmit="Submit">
    <FluentValidationValidator Validator="Validator"/>
    <button class="btn btn-success" type="submit">Save</button>
    <div class="col-md-3">
        <label class="form-label">Name</label>
        <ValidationMessage For="() => Model.Name"/>
        <InputText @bind-Value="Model.Name"/>
    </div>
    <div class="col-md-3">
        <ValidationMessage For="@(() => Model.Teachers)"/>
        <MultipleItemsSelect TData="MultipleTeacherResponse" TParameters="TeacherParameters" SelectTo="Model.Teachers"/>
    </div>
    <div class="col-md-3">
        <ValidationMessage For="@(() => Model.Groups)"/>
        <MultipleItemsSelect TData="MultipleGroupResponse" TParameters="GroupParameters" SelectTo="Model.Groups"/>
    </div>
    <div>
        <ValidationMessage For="@(() => Model.SubjectId)"/>
        <SingleItemSelect TData="MultipleSubjectResponse" TParameters="SubjectParameters" @bind-SelectedId="Model.SubjectId"/>
    </div>
</EditForm>