@inherits ModelEditForm<GroupDto>
<EditForm Model="Model" OnValidSubmit="Submit">
    <FluentValidationValidator Validator="Validator" />
    <ValidationSummary />
    <div class="col-md-3">
        <label class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="Model.Name" />
        <ValidationMessage For="@(() => Model.Name)" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</EditForm>