@using Microsoft.AspNetCore.Components
@inherits ModelEditForm<RegistrationDto>
<EditForm Model="Model" OnValidSubmit="Submit">
    <FluentValidationValidator Validator="Validator"/>
    <div class="col-md-3">
        <label class="form-label">Email</label><br/>
        <InputText class="form-control" @bind-Value="@Model.Email"/>
        <ValidationMessage For="() => Model.Email"/>
    </div>
    <div class="col-md-3">
        <label class="form-label">Password</label><br/>
        <InputText class="form-control" @bind-Value="@Model.Password"/>
        <ValidationMessage For="() => Model.Password"/>
    </div>
    <div class="col-md-3">
        <label class="form-label">Password confirm</label><br/>
        <InputText class="form-control" @bind-Value="@Model.PasswordConfirm"/>
        <ValidationMessage For="() => Model.PasswordConfirm"/>
    </div>
    <div class="col-md-3">
        <label class="form-label">Username</label><br/>
        <InputText class="form-control" @bind-Value="@Model.Username"/>
        <ValidationMessage For="() => Model.Username"/>
    </div>
    <button type="submit">Sign up!</button>
</EditForm>