@page "/timetable/edit/{Mode:int}/{Id:int}"
@using ECampus.Shared.Enums
@inherits EditPageBase<ECampus.Shared.DataTransferObjects.ClassDto>
@if(Model is null)
{
    <p><em>Loading</em></p>
    return;
}
    
<ClassEditForm Model="Model" OnSubmit="Save" TimetableMode="(TimetableMode)Mode" />