@page "/auditories/edit/{Id:int}"
@inherits EditPageBase<AuditoryDto>

@if(Model is null)
{
    <p><em>Loading...</em></p>
    return;
}

<AuditoryEditForm Model="Model" OnSubmited="Save"/>

@code {
    protected override string PageAfterSave => "/auditories";
}