@page "/departments/create/{FacultyId:int}"
@inherits CreatePageBase<DepartmentDTO>
<DepartmentEditForm Model="new(){ FacultacyId = FacultyId }" OnSubmited="@(async model => await Save(model))" />

<a role="button" class="btn-danger" href="@($"/departments/{FacultyId}")">Back</a>