@page "/departments/edit/{FacultyId:int}"
@inherits EditPageBase<DepartmentDto>
@if(Model is null)
{
    <p><em>Loading...</em></p>
    return;
}

<DepartmentEditForm Model="Model" OnSubmit="@(async model => await Save(model))" />

<a role="button" class="btn-danger" href="@($"/departments/{Model.FacultyId}")">Back</a>