@page "/tasks/{CourseId:int}"
@using ECampus.Domain.Requests.CourseTask
@using ECampus.Domain.Responses.CourseTask

<h3>My tastks</h3>

@if (_enableEdit is null || _actionLinks is null)
{
    <p><em>Loading course data...</em></p>
    return;
}

<IndexPageModel TData="MultipleCourseTaskResponse" TParameters="CourseTaskParameters"
                EditLink="/tasks/edit"
                CreateLink="@($"/tasks/create/{CourseId}")"
                ParameterOptions="parameters => parameters.CourseId = CourseId"
                EditEnabled="_enableEdit"
                ActionLinks="_actionLinks"/>
                