@using IdentityServer4.Extensions
@using System.Security.Claims
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ECampus.FrontEnd</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/faculties" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Search by faculties
            </NavLink>
            <NavLink class="nav-link" href="/auditories" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Search by auditories
            </NavLink>
            <NavLink class="nav-link" href="/subjects" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Edit subjects
            </NavLink>
            @if (Context.HttpContext!.User.IsAuthenticated())
            {
                <NavLink class="nav-link" href="/profile" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> My profile
                </NavLink>
                @if (_role is UserRole.Student or UserRole.Teacher)
                {
                    <NavLink class="nav-link" href="/MyCourses" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> My courses
                    </NavLink>
                }
                else if (_role == UserRole.Admin)
                {
                    <NavLink class="nav-link" href="/courses" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Edit courses
                    </NavLink>
                    <NavLink class="nav-link" href="/users" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Edit users
                    </NavLink>
                }
            }
        </div>
    </nav>
</div>

@code {

    [Inject]
    private IHttpContextAccessor Context { get; set; } = default!;

    private bool _collapseNavMenu = false;
    private UserRole _role;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        Enum.TryParse(Context.HttpContext?.User.Claims.SingleOrDefault(claim => claim.Type == ClaimTypes.Role)?.Value, out _role);
    }

    private void ToggleNavMenu()
    {
        _collapseNavMenu = false;
    }

}