@page "/MyCourses"
@using Microsoft.AspNetCore.Authentication.Cookies
@using ECampus.Domain.Requests.Course
@using ECampus.Domain.Responses.Course
@attribute [Authorize(AuthenticationSchemes = CookieAuthenticationDefaults.AuthenticationScheme)]
@if (_teacherId == 0 && _groupId == 0)
{
    <h3>Your profile is not registered as teacher or student, please contact admins</h3>
    return;
}

@if (_studentId != 0)
{
    <a href="@($"/courses/Summary/{_studentId}")">View courses summary</a>
}

@if (_actionLinks is null)
{
    <p><em>Loading...</em></p>
    return;
}

<h3>My courses:</h3>

<IndexPageModel TData="MultipleCourseResponse" TParameters="CourseParameters" ParameterOptions="SetParameters"
                ActionLinks="@(new List<(string LinkName, Func<MultipleCourseResponse, string> LinkSource)>{("View tasks", c => $"/tasks/{c.Id}")})"/>