@page "/profile/edit"
@using Microsoft.AspNetCore.Components
@using ECampus.Shared.DataTransferObjects
@using ECampus.Shared.QueryParameters
@if (_model is null)
{
    <p>
        <em>Loading...</em>
    </p>
    return;
}

<div class="row">
    <div class="col-md-4">
        <EditForm Model="_model" OnSubmit="@Save">
            <FluentValidationValidator Validator="_validator"/>
            <button class="btn btn-success" type="submit">Save</button>
            <p>
                <label for="@_model.Username">Username</label>
                <InputText @bind-Value="@_model.Username"/>
                <ValidationMessage For="@(() => _model.Username)"/>
            </p>
            <MultipleItemsSelect TData="AuditoryDto" TParameters="AuditoryParameters" SelectTo="_model.SavedAuditories"
                                 Title="Auditories"/>
            <br/>
            <MultipleItemsSelect TData="GroupDto" TParameters="GroupParameters" SelectTo="_model.SavedGroups"
                                 Title="Groups"/>
            <br/>
            <MultipleItemsSelect TData="TeacherDto" TParameters="TeacherParameters" SelectTo="_model.SavedTeachers"
                                 Title="Teachers"/>
            <br/>
        </EditForm>
    </div>
</div>
