@page "/profile/edit"
@using Microsoft.AspNetCore.Components
@inherits ModelEditForm<UserProfile>
@if (_model is null)
{
    <p>
        <em>Loading...</em>
    </p>
    return;
}

<div class="row">
    <div class="col-md-4">
        <EditForm Model="_model" OnValidSubmit="Submit">
            <FluentValidationValidator Validator="Validator"/>
            <button class="btn btn-success" type="submit">Save</button>
            <p>
                <label for="@Model.Username">Username</label>
                <InputText @bind-Value="@Model.Username"/>
                <ValidationMessage For="@(() => Model.Username)"/>
            </p>
            <MultipleItemsSelect TData="AuditoryDto" TParameters="AuditoryParameters" SelectTo="Model.SavedAuditories"
                                 Title="Auditories"/>
            <br/>
            <MultipleItemsSelect TData="GroupDto" TParameters="GroupParameters" SelectTo="Model.SavedGroups"
                                 Title="Groups"/>
            <br/>
            <MultipleItemsSelect TData="TeacherDto" TParameters="TeacherParameters" SelectTo="Model.SavedTeachers"
                                 Title="Teachers"/>
            <br/>
        </EditForm>
    </div>
</div>